
*{
    margin: 0;
    padding: 0;
    }

    body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    header {
        width: 100%;
        background-color: transparent;
        position: fixed;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    h2{
        color: #ffde59;
        margin-left: 50px;  
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }

    ul {
        display: flex;
        gap: 40px;
        margin-right: 100px;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        color: #ffde59;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.9s ease;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }

    ul li a:hover{
        color: white;
    }


    .tour {
        padding: 100px 20px;
        height: 150vh;
        background-color: rgb(36, 31, 31);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tour h2 {
        text-align: center;
        font-size: 50px;
        color: #ffde59;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.822);
        margin-bottom: 30px;
    }

    .tour-description {
        color: #fff;
        max-width: 800px;
        text-align: center;
        margin-bottom: 50px;
        line-height: 1.6;
        font-size: 18px;
    }

    .tour-description span{
        color: #ffde59;
    }

    .image-gallery {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        justify-content: center;
    }

    .location-card {
        position: relative;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease;
    }

    .location-card:hover {
        transform: translateY(-10px);
    }

    .location-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    .location-card:hover img {
        transform: scale(1.1);
    }

    .location-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
        padding: 20px;
        transform: translateY(100%);
        transition: transform 0.5s ease;
    }

    .location-card:hover .location-info {
        transform: translateY(0);
    }

    .location-info h3 {
        color: #ffde59;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }